<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
  </head>
  <body>
    
  <script src="hindia_files/styleswitcher.js"></script><link rel="stylesheet" href="hindia_files/shared.css" type="text/css"><link rel="stylesheet" href="hindia_files/mediawiki_shared.css" type="text/css"><link rel="stylesheet" href="hindia_files/mediawiki_monobook.css" type="text/css"><link rel="alternate stylesheet" href="hindia_files/night.css" type="text/css" title="Night"><div class="mw-parser-output"><h1><a id="view-online-link" href="http://hi.wiktionary.org/wiki/hindia">hindia</a></h1><h2><span id=".E0.A4.8F.E0.A4.B8.E0.A5.8D.E0.A4.AA.E0.A5.87.E0.A4.B0.E0.A4.BE.E0.A4.A8.E0.A5.8D.E0.A4.A4.E0.A5.8B"></span><span class="mw-headline" id="एस्पेरान्तो"><a href="http://localhost:7980/%E0%A4%8F%E0%A4%B8%E0%A5%8D%E0%A4%AA%E0%A5%87%E0%A4%B0%E0%A4%BE%E0%A4%A8%E0%A5%8D%E0%A4%A4%E0%A5%8B" title="एस्पेरान्तो">एस्पेरान्तो</a></span></h2>
<h3><span id=".E0.A4.B8.E0.A4.82.E0.A4.9C.E0.A5.8D.E0.A4.9E.E0.A4.BE"></span><span class="mw-headline" id="संज्ञा">संज्ञा</span></h3>
<p><b>hindia</b>
</p>
<ol><li><a href="http://localhost:7980/%E0%A4%B9%E0%A4%BF%E0%A4%A8%E0%A5%8D%E0%A4%A6%E0%A5%80" title="हिन्दी">हिन्दी</a></li></ol>
<p><br>
</p>
<dl><dd></dd></dl></div>
  
  
</body></html>