<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
</head>
<body><script src="out_files/styleswitcher.js"></script><link rel="stylesheet" href="out_files/shared.css" type="text/css"><link rel="stylesheet" href="out_files/mediawiki_shared.css" type="text/css"><link rel="stylesheet" href="out_files/mediawiki_monobook.css" type="text/css"><link rel="alternate stylesheet" href="out_files/night.css" type="text/css" title="Night"><div class="mw-parser-output"><p><br>
</p>
<h1><span id=".E0.A4.B9.E0.A4.BF.E0.A4.A8.E0.A5.8D.E0.A4.A6.E0.A5.80"></span><span class="mw-headline" id="हिन्दी"><a href="http://hi.wiktionary.org/wiki/%E0%A4%B6%E0%A5%8D%E0%A4%B0%E0%A5%87%E0%A4%A3%E0%A5%80:%E0%A4%B9%E0%A4%BF%E0%A4%A8%E0%A5%8D%E0%A4%A6%E0%A5%80" title="श्रेणी:हिन्दी">हिन्दी</a></span></h1>
<h2><span id=".E0.A4.AA.E0.A5.8D.E0.A4.B0.E0.A4.95.E0.A4.BE.E0.A4.B6.E0.A4.BF.E0.A4.A4.E0.A4.95.E0.A5.8B.E0.A4.B6.E0.A5.8B.E0.A4.82_.E0.A4.B8.E0.A5.87_.E0.A4.85.E0.A4.B0.E0.A5.8D.E0.A4.A5"></span><span class="mw-headline" id="प्रकाशितकोशों_से_अर्थ">प्रकाशितकोशों से अर्थ</span></h2>
<h3><span id=".E0.A4.B6.E0.A4.AC.E0.A5.8D.E0.A4.A6.E0.A4.B8.E0.A4.BE.E0.A4.97.E0.A4.B0"></span><span class="mw-headline" id="शब्दसागर">शब्दसागर</span></h3>
<p>मनःप्रीति संज्ञा स्त्री॰ [सं॰] मन को प्रसन्नता ।
</p>



</div>
</body></html>